.row{
  position: relative;
  box-align: auto;

}
/* body{
  background-color: aquamarine;  !important
} */
@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-md-1"] {
    width: 100%;
  }
}
