<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alta_art">
        <h3>Modificación de Artículos</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/alta", method="POST">
            <input type="text" name="articulo_cod" placeholder="Código Artículo">
            <input type="text" name="articulo_um" placeholder="UM Artículo">
            <input type="text" name="articulo_nombre" placeholder="Nombre Artículo">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>